body{color:#000;margin:0;padding:0;font:18px/1.5em Questrial,sans-serif}
a{text-decoration:none;color:#fff}
header{margin:0;padding:0;color:#000}
header .container{display:flex;width:100%;justify-content:center;align-items:center;background-color:#191a1a;color:#fff;text-align:center;height:100px;box-shadow:0 2px 3px 0 #000;position:fixed;z-index:22}
.container .flex{width:calc(100%/3)}
.container .title h1{padding:0;margin:0;text-align:center}
.container #lounge{color:#ff00a5;font-family:Lobster,cursive}
.container #img{animation:rotation 7s infinite linear}
@keyframes rotation{
from{transform:rotate(0)}
to{transform:rotate(359deg)}
}
.container ul{display:flex;justify-content:space-around;align-items:center;margin:0;padding:0}
.container li{list-style:none;color:#fff}
.container li:hover{font-weight:700}
.container #navigation #current{font-weight:700;font-size:24px;color:#ff00a5;transition:color .4s ease .1s}
.container #navigation #current:hover{color:#fff}
main{position:relative;margin:0;padding:0}
#showcase{min-height:500px;text-align:center;color:#fff;position:absolute;display:block;width:100%;margin-top:100px;box-shadow:0 1px 1px 0 grey}
#showcase #showcase-img{background:url(img/showcase.jpg);width:100%;height:500px;background-repeat:no-repeat;background-size:cover;background-position:center;position:absolute;z-index:-1;opacity:1;text-align:center}
#showcase #content-wrap{width:70%;margin:auto;margin-top:10%;color:#fff;text-align:center;padding:20px}
#showcase form legend{font-size:55px;text-transform:uppercase;font-weight:700}
#showcase form fieldset{border:5px;border-style:inset;border-color:#00000080}
#showcase form fieldset p{margin:40px;font-size:1.2em}
.btn{padding:1em 2em;border:none;margin-bottom:1em;font-size:1.1em;text-transform:uppercase;background-color:#333;color:#fff;text-align:center;transition:all .3s cubic-bezier(.65,.62,.85,.85)}
.btn:hover{color:#333;background-color:#fff;cursor:pointer}
#features{position:relative;top:650px;margin:0;padding:0}
#features h1{text-align:center;font-size:2.4em;color:#000;margin:auto;padding-bottom:40px}
#features #content-wrap ul{display:flex;list-style:none;margin:0;padding:0;text-align:center;min-height:400px;justify-content:space-around}
#features #content-wrap li{background-color:#333;color:#fff;margin:0;padding:0;width:31%;border:1px solid #333;box-shadow:0 2px 2px #333;transition:transform .2s linear .2s}
#features #content-wrap li:hover{transform:scale(1.01)}
#features #content-wrap li img{width:100%;height:auto}
#contact{position:relative;top:700px;margin:0;padding:0;width:inherit;min-height:200px;text-align:center;background-color:#333;color:#fff;box-shadow:0 2px 2px 0 #333,0 -2px 2px #333}
#contact #content-wrap{padding-top:40px;padding-bottom:20px}
#contact input[type=email]{display:inline-block;position:relative;bottom:15px;left:10px;min-height:35px;width:250px;border:none}
footer{display:block;position:relative;top:760px;background-color:#000;color:#fff;height:110px;box-shadow:0 -2px 2px 0 #333}
footer ul{list-style:none;margin:0;padding-top:30px;float:left}
footer li{display:inline;padding:15px}
footer #copyright{display:inline;float:right;padding-top:10px;padding-right:30px;font-size:1.2em}
@media(max-width:768px){
header .container{display:flex;flex-direction:column;width:100%;height:130px;justify-content:space-evenly}
.container #img,.container h1{font-size:24px}
.container li{margin:0 20px}
#showcase{top:30px}
#showcase form legend{font-size:30px}
#showcase form fieldset p{font-size:20px}
#features{top:670px}
#features #content-wrap ul{flex-direction:column;display:flex;justify-content:center;align-items:center}
#features #content-wrap li{width:100%;margin-bottom:30px}
footer{height:170px;float:none;margin:0;padding:0}
footer ul{float:none;text-align:center;margin:0;padding:0;padding-top:30px}
footer #copyright{float:none;text-align:center;margin:0;padding:0}
}